<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Buscar</div>
            <div class="card-body"><input type="text" [(ngModel)] = "pokemon"></div>
            <div class="card-footer"><button class="btn btn-outline-info" (click) = "buscar()">Search</button></div>
            <div class="card-footer"><button class="btn btn-outline-info" (click) = "buscarTipos()">Tipos</button></div>
            <input type="text" [(ngModel)]="email">
            <input type="password" [(ngModel)]="senha">
            <button (click)="login()">Login</button>
            <button (click)="register()">Register</button>
        </div>
    </div>
</div>
